{% extends 'app_coder/base.html' %}

{% load static %}

{% block title %}
La Casa del Codigo | Cursos 🙌
{% endblock %}

{% block content %}
    <h1>Nuestros Profesores</h1>
    <p>Capacitate con nuestros Profes</p>


    <h2>Buscar Profesor</h2>
    <!-- Formulario de búsqueda -->
    <div class="d-flex flex-column align-items-center mb-2">
      <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." required>
        <button type="submit">Buscar</button>
      </form>
    </div>

    <div class="container">

        <table class="table">
            <thead>
              <tr class="table-danger">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Profesión</th>
              </tr>
            </thead>
            <tbody>
                {% for profe in profes %}
              <tr class="table-success">
                <td>{{profe.nombre}}</td>
                <td>{{profe.apellido}}</td>
                <td>{{profe.email}}</td>
                <td>{{profe.profesion}}</td>
                {% endfor %}
              </tr>
    
            </tbody>
          </table>

    </div>
    

{% endblock  %}